<div class="container">
	<header class="header">
		<div class="hd-logo fl">
			<img src="content/images/logo.png" alt="评E评演示版">
		</div>
		<ul class="hd-nav fl">
			<li class="active"><a ui-sref=".">我的主页</a></li>
			<li><a ui-sref=".">委托/询价</a></li>
			<li><a ui-sref=".">外采</a></li>
			<li><a ui-sref=".">报告</a></li>
			<li><a ui-sref=".">企业管家</a></li>
			<li><a ui-sref="writeReport">计算法</a></li>
		</ul>
		<div class="hd-user-info text-right fr">
			<p>企业代码：54652</p>
			<p>下午好，{{rootUserName}}  <a class="exit-login" ui-sref="login">退出</a></p>
		</div>
	</header>
</div>
