<div class="calculate-tab clear">
	<ul class="list clear">
		<li><a ui-sref="writeReport.baseInfo" data-sref="writeReport.baseInfo">
			<b class="number">1</b>
			<span class="text">基础信息</span>
			<div class="icon line"></div></a>
		</li>
		<li><a ui-sref="writeReport.interestsInfo" data-sref="writeReport.interestsInfo">
			<b class="number">2</b>
			<span class="text">权益信息</span>
			<div class="icon line"></div></a>
		</li>
		<li><a ui-sref="writeReport.exploration" data-sref="writeReport.exploration">
			<b class="number">3</b>
			<span class="text">现场勘查</span>
			<div class="icon line"></div></a>
		</li>
		<li><a ui-sref="writeReport.marketApproach" data-sref="writeReport.marketApproach">
			<b class="number">4</b>
			<span class="text">计算法</span>
			<div class="icon line"></div></a>
		</li>
		<li><a ui-sref="writeReport.computedResult" data-sref="writeReport.computedResult">
			<b class="number">5</b>
			<span class="text">结果计算</span>
			<div class="icon line"></div></a>
		</li>
		<li><a ui-sref="writeReport.appraiserStatement" data-sref="writeReport.appraiserStatement">
			<b class="number">6</b>
			<span class="text">估价师声明</span>
			<div class="icon line"></div></a>
		</li>
		<li><a ui-sref="writeReport.photoMap" data-sref="writeReport.photoMap">
			<b class="number">7</b>
			<span class="text">照片地图</span>
			<div class="icon line"></div></a>
		</li>
		<li><a data-sref="writeReport.reportResult">
			<b class="number">8</b>
			<span class="text">完成报告</span></a>
		</li>
	</ul>
</div>