<div class="wrap-left">
	<div class="user-content">
		<div class="user-hd">
			<b class="set-info pa icon"></b>
			<div class="user-pic">
				<img src="content/images/user_pic.png" alt="">
			</div>
			<b class="email pa icon"><i class="pa number"></i></b>
		</div>
		<div class="user-info">
			<p class="name">高圆圆{{tt}}</p>
			<p class="jobs">房地产评估师</p>
		</div>
		<div class="user-count">
			<div class="item">
				<p class="val">280单</p>
				<p class="key">询价</p>
			</div>
			<div class="item">
				<p class="val">280份</p>
				<p class="key">报告</p>
			</div>
			<div class="item">
				<p class="val">280万</p>
				<p class="key">总额</p>
			</div>
		</div>
	</div>
	<nav class="left-menu">
		<!-- <a ui-sref="writeReport.baseInfo">基础信息</a> -->
		<a class="nav-item" ui-sref="writeReport.11"><b class="icon i1"></b>询价列表</a>
		<a class="nav-item" ui-sref="writeReport.22"><b class="icon i2"></b>委托列表</a>
		<a class="nav-item" ui-sref="writeReport.33"><b class="icon i3"></b>外采列表</a>
		<a class="nav-item" ui-sref="writeReport.reportList"><b class="icon i4"></b>报告列表</a>
	</nav>
</div>